@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Mereset margin, padding, dan box-sizing default, serta menetapkan font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Gaya untuk bagian-bagian (sections) di halaman web */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

/* Gaya untuk header, yang mencakup navigasi */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gaya untuk logo di header */
header .logo {
    position: relative;
    max-width: 80px;
}

/* Gaya untuk daftar tak berurut (unordered list) di header */
header ul {
    position: relative;
    display: flex;
}

/* Gaya untuk elemen daftar (list items) di navigasi header */
header ul li {
    list-style: none;
}

/* Gaya untuk tautan (anchor links) di navigasi header */
header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

/* Gaya untuk bagian konten utama */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gaya untuk kotak teks di bagian konten */
.content .textBox {
    position: relative;
    max-width: 600px;
}

/* Gaya untuk heading di dalam kotak teks */
.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

/* Gaya untuk elemen span di dalam heading */
.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

/* Gaya untuk paragraf di dalam kotak teks */
.content .textBox p {
    color: #333;
}

/* Gaya untuk tautan di dalam kotak teks */
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

/* Gaya untuk kotak gambar di dalam bagian konten */
.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

/* Gaya untuk gambar di dalam kotak gambar */
.content .imgBox img {
    max-width: 340px;
}

/* Gaya untuk navigasi thumbnail */
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

/* Gaya untuk elemen daftar di dalam navigasi thumbnail */
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

/* Efek hover untuk elemen daftar di dalam navigasi thumbnail */
.thumb li:hover {
    transform: translateY(-15px);
}

/* Gaya untuk gambar thumbnail */
.thumb li img {
    max-width: 80px;
}

/* Gaya untuk ikon media sosial */
.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Gaya untuk elemen daftar di dalam ikon media sosial */
.sci li {
    list-style: none;
}

/* Gaya untuk tautan di dalam ikon media sosial */
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

/* Gaya untuk elemen latar belakang lingkaran */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}
